# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
population/census2021EW_RefPerson_NSSEC10_Houshold15_LSOA_partial.csv
population/census2021EW_RefPerson_NSSEC10_Houshold15_MSOA_partial.csv
population/census2021EW_Resdidents_NSSEC10_Ethnicity_LSOA_partial.csv
osm/united-kingdom-latest.gpkg
osm/united-kingdom-latest.osm.pbf
boundaries/Boundaries/Local_Authority_Districts_May_2023_UK_BFC_V2_179125415192200502.gpkg
boundaries/Boundaries/Lower_layer_Super_Output_Areas_2021_EW_BFC_V8_4078143405809415814.gpkg
boundaries/Boundaries/Lower_layer_Super_Output_Areas_2021_EW_BGC_V3_2542665517405622314.gpkg
boundaries/Boundaries/Lower_layer_Super_Output_Areas_2021_EW_BSC_v2_8443070537763669663.gpkg
boundaries/Boundaries/MOSA_2021_EW_BFC_V6_4482478884757418417.gpkg
boundaries/Boundaries/MSOA_2021_EW_BGC_V2_-9056255685368249189.gpkg
boundaries/Boundaries/MSOA_2021_EW_BSC_V2_-246042110782396072.gpkg
boundaries/Boundaries/Parishes_May_2023_Boundaries_EW_BFC_5274983877488017783.gpkg
boundaries/Boundaries/Wards_December_2022_Boundaries_GB_BFC_-6255559218859347997.gpkg
boundaries/Boundaries/Westminster_Parliamentary_Constituencies_Dec_2022_UK_BFC_8233416892985902015.gpkg
boundaries/Local_Authority_Districts_May_2023_UK_BFC_V2_179125415192200502.gpkg
boundaries/Local_Authority_Districts_May_2024_Boundaries_UK_BFC_6876907690171027150.gpkg
boundaries/Lower_layer_Super_Output_Areas_2021_EW_BFC_V8_4078143405809415814.gpkg
boundaries/Lower_layer_Super_Output_Areas_2021_EW_BGC_V3_2542665517405622314.gpkg
boundaries/Lower_layer_Super_Output_Areas_2021_EW_BSC_v2_8443070537763669663.gpkg
boundaries/Lower_layer_Super_Output_Areas_Dec_2011_Boundaries_Full_Clipped_BFC_EW_V3_2022_3969098746815328641.gpkg
boundaries/Lower_Layer_Super_Output_Areas_Dec_2011_Boundaries_Full_Extent_BFE_EW_V3_2022_-2555011065597677108.gpkg
boundaries/LSOA_Dec_2011_PWC_in_England_and_Wales_2022_4940074699479565285.gpkg
boundaries/LSOA_Dec_2021_PWC_for_England_and_Wales_2022_-7410472461544737417.gpkg
boundaries/MOSA_2021_EW_BFC_V6_4482478884757418417.gpkg
boundaries/MSOA_2021_EW_BGC_V2_-9056255685368249189.gpkg
boundaries/MSOA_2021_EW_BSC_V2_-246042110782396072.gpkg
boundaries/Output_Areas_2001_EW_PWC_6679101571236103446.gpkg
boundaries/Output_Areas_2021_PWC_V3_-4067204786746319875.gpkg
boundaries/Output_Areas_Dec_2011_PWC_2022_2937497644548359762.gpkg
boundaries/Parishes_May_2023_Boundaries_EW_BFC_5274983877488017783.gpkg
boundaries/PCD_OA21_LSOA21_MSOA21_LAD_FEB24_UK_LU.zip
boundaries/Regions_December_2023_Boundaries_EN_BFC_9141246588291537595.gpkg
boundaries/SG_DataZoneBdry_2011.zip
boundaries/SG_DataZoneCent_2011.zip
boundaries/Wards_December_2022_Boundaries_GB_BFC_-6255559218859347997.gpkg
boundaries/Wards_May_2024_Boundaries_UK_BFE_-4458353988245060602.gpkg
boundaries/Westminster_Parliamentary_Constituencies_Dec_2022_UK_BFC_8233416892985902015.gpkg
boundaries/Westminster_Parliamentary_Constituencies_July_2024_Boundaries_UK_BFC_-6236279356162627018.gpkg
boundaries/Output_Areas_Dec_2001_Boundaries_EW_BFC_2022_1709495032765696690.zip
epc/all-display-certificates-single-file-20240630.zip
epc/all-domestic-certificates-single-file-20240630.zip
epc/all-non-domestic-certificates-single-file-20240630.zip
epc/epc_domestic_clean.Rds
epc/epc_nondomestic_clean.Rds
epc/epc_scotland_domestic_clean.Rds
epc/epc_scotland_nondomestic_clean.Rds
epc/GB_domestic_epc.Rds
epc/GB_nondomestic_epc.Rds
epc/Scotland_Domestic_EPC_data_2014-2024Q2.zip
epc/Scotland_NonDomestic_EPC_data_2014-2024Q2.zip
